    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('../ASSETS/bg.jpg') no-repeat center center fixed;
      color: white;
    }

    .ico {
      width: 1em;
      color: aliceblue;
    }

    .container {
      width: 350px;
      background: #7564509d;
      padding: 25px;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 28px;
    }

    .password-box {
      display: flex;
      margin-bottom: 20px;
    }

    .password-box input {
      flex: 1;
      padding: 12px;
      border: none;
      outline: none;
      background: #3838378e;
      color: white;
      font-size: 18px;
      border-radius: 8px 0 0 8px;
    }

    .password-box button {
      width: 60px;
      border: none;
      background: #f38507;
      color: white;
      cursor: pointer;
      border-radius: 0 8px 8px 0;
      font-weight: bold;
    }

    .settings {
      margin-bottom: 20px;
    }

    .setting {
      display: flex;
      justify-content: left;
      margin: 12px 0;
    }

    .setting label {
      padding-left: 1rem;
    }

    .length-container {
      margin-bottom: 20px;
    }

    .length-container label {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    input[type="range"] {
      width: 100%;
      cursor: pointer;
      accent-color: #f38507;
    }

    input[type="checkbox"] {
      accent-color: #f38507;
    }

    .generate-btn {
      width: 100%;
      padding: 14px;
      border: none;
      border-radius: 10px;
      background: #f38507;
      color: #111;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: 300ms;
    }

    .generate-btn:hover {
      opacity: .8;
    }

    .strength {
      margin-top: 15px;
      text-align: center;
      font-weight: bold;
    }

    .weak {
      color: #ff5c5c;
    }

    .medium {
      color: #ffd166;
    }

    .strong {
      color: #7cff8f;
    }

    .semaforo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 10px 5px;
      border-radius: 10px;
      align-items: center;
    }

    .semaforo .signal {
      width: 45px;
      height: 45px;
      background-color: gray;
      opacity: .2;
    }

    .signal.weak {
      background-color: var(--del-color);
      opacity: 1;
    }

    .signal.medium {
      background-color: #ffd166;
      opacity: 1;
    }

    .signal.strong {
      background-color: #7cff8f;
      opacity: 1;
    }

    .chat-box {
      width: 600px;
      background: rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 18px;
      padding: 25px;
      box-shadow: 0 10px 35px rgba(0, 0, 0, .5);
    }

    h1 {
      text-align: center;
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 1.4;
      color: #f6d365;
    }

    /* FORMULARIO */

    #commentForm {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    #name-input,
    #comment-input {
      width: 100%;
      padding: 14px;
      border: none;
      outline: none;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.1);
      color: white;
      font-size: 16px;
    }

    #name-input::placeholder,
    #comment-input::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    #comment-input {
      min-height: 120px;
      resize: none;
    }

    #send-button {
      padding: 14px;
      border: none;
      border-radius: 12px;
      background: var(--secondary-color);
      color: white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: 300ms;
    }

    :root {
      --primary-color: #f59e0b;
      --secondary-color: #d97706;
      --del-color: #bb1515;
    }
    #send-button:hover {
      background: var(--primary-color);
      transform: scale(1.02);
    }

    #newCommentParagraph {
      margin-top: 25px;
      max-height: 300px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-right: 8px;
    }

    #newCommentParagraph::-webkit-scrollbar {
      width: 8px;
    }

    #newCommentParagraph::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 10px;
    }

    #newCommentParagraph::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      border-radius: 10px;
    }

    #newCommentParagraph div {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }

    #newCommentParagraph p {
      flex: 1;
      background: rgba(255, 255, 255, 0.08);
      padding: 1rem;
      border-radius: 14px;
      border-left: 2px solid var(--primary-color);
      color: white;
      word-break: break-word;
    }

    #newCommentParagraph button {
      border: none;
      background: var(--del-color);
      color: white;
      padding: 10px 14px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      transition: 300ms;
    }

    #newCommentParagraph button:hover {
      background: var(--secondary-color);
    }